.guest__block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.guest__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.guest {
    display: flex;
    flex-direction: column;
   padding: 24px;
   
}
.guest__title {
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: bold;
}
.guest1 {
    display: flex;
    justify-content: space-between;
}
.guest__info {
    font-size: 16px;
}